.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;

  display: flex;
  justify-content: center;
  background: rgb(68, 50, 151);
}

.container {
  position: relative;
  padding: 20px 0 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
}

.navbar_top > a img {
  margin-right: 76px;
  width: 117px;
  height: 36px;
}

.navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  align-items: center;

  background-color: white;
  border-radius: 6px;
}
.navbar_top .search_box {
  width: auto;
  height: auto;
  padding: 10px 17px;

  display: flex;
  align-items: center;
}

.categories {
  width: 166px;
  height: 30px;

  display: flex;
  align-items: center;

  border-right: 1px solid rgb(148, 146, 146);
}

.categories select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.categories + input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 195, 75);
  border-radius: 0 6px 6px 0;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

.nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav_top_menu1 {
  display: flex;
  align-items: space-between;
  cursor: pointer;
}

.nav_top_menu1_icon {
  margin-right: 16px;
  width: 54px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.nav_top_menu1_icon img,
svg {
  width: 20px;
  height: 20px;
}

.nav_top_menu1_font {
  width: 69px;
  height: 38px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.cart_count {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(245, 195, 75);
  color: rgb(11, 30, 64);
  font-family: Jost;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: center;
}

.navbar_bottom {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;

  border-top: 1px solid #5756a1;
}

.nav_bottom_menu {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */ */
  align-items: center;
}

.nav_bottom_menu a {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.nav_bottom_menu1 {
  margin-top: 10px;
  width: 185px;
  height: 30px;
  display: flex;
  align-items: center;
  border-right: 1px solid #5756a1;
}
.nav_bottom_menu1 svg {
  width: 20px;
  height: 18px;
}
.nav_bottom_menu1 p {
  margin-left: 10px;

  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_bottom_menu2 {
 margin-top: 10px;
  margin-left: 3%;
  width: 1fr;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav_bottom_menu2 .nav_bottom_menu2_1 {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

 .nav_bottom_menu3 {
  margin-top: 10px;
  margin-left: 250px;
  width: 2fr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav_bottom_menu3 span {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}
