body{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar_frame {
  position: relative;
  width: 1930px;
  height: 145px;

  display: flex;
  justify-content: center;
  background: rgb(68, 50, 151);
}

.container {
  position: relative;
  padding: 20px 0 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
}

.navbar_top > a img {
  margin-right: 76px;
  width: 117px;
  height: 36px;
}

.navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  align-items: center;

  background-color: white;
  border-radius: 6px;
}
.navbar_top .search_box {
  width: auto;
  height: auto;
  padding: 10px 17px;

  display: flex;
  align-items: center;
}

.categories {
  width: 166px;
  height: 30px;

  display: flex;
  align-items: center;

  border-right: 1px solid rgb(148, 146, 146);
}

.categories select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.categories + input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 195, 75);
  border-radius: 0 6px 6px 0;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

.nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav_top_menu1 {
  display: flex;
  align-items: space-between;
  cursor: pointer;
}

.nav_top_menu1_icon {
  margin-right: 16px;
  width: 54px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.nav_top_menu1_icon img,
svg {
  width: 20px;
  height: 20px;
}

.nav_top_menu1_font {
  width: 69px;
  height: 38px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.cart_count {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(245, 195, 75);
  color: rgb(11, 30, 64);
  font-family: Jost;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: center;
}

.navbar_bottom {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;

  border-top: 1px solid #5756a1;
}

.nav_bottom_menu {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */ */
  align-items: center;
}

.nav_bottom_menu a {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.nav_bottom_menu1 {
  margin-top: 10px;
  width: 185px;
  height: 30px;
  display: flex;
  align-items: center;
  border-right: 1px solid #5756a1;
}
.nav_bottom_menu1 svg {
  width: 20px;
  height: 18px;
}
.nav_bottom_menu1 p {
  margin-left: 10px;

  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_bottom_menu2 {
 margin-top: 10px;
  margin-left: 3%;
  width: 1fr;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav_bottom_menu2 .nav_bottom_menu2_1 {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

 .nav_bottom_menu3 {
  margin-top: 10px;
  margin-left: 250px;
  width: 2fr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav_bottom_menu3 span {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}
.footer_background {
width: 1930px;
height: 507px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

background: rgb(243, 245, 246);
}

.footer_top {
  width: 1320px;
  height: 250px;
  /* background: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_top1 {
  width: 320px;
  height: 200px;
 
display : flex;
flex-direction: column;
justify-content: space-around;
}



.footer_top2, .footer_top3 {
  padding-left: 50px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  }

.footer_top2 a, .footer_top3 a {
  color: rgb(4, 30, 66);
font-family: Jost;
font-size: 14px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}
.footer_top3{
  width: 300px;
  height: 200px;
  /* background: rgb(0, 255, 0); */ 
}
.footer_top4{
  width: 300px;
  height: 200px;
  /* background: rgb(79, 148, 228); */
}
.footer_top5{
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background: rgb(204, 114, 189); */
}

.footer_top h3 {
  margin-top: 0;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;

}
.footer_top strong, b {
margin-left: 30px;
color: rgb(4, 30, 66);
font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.footer_top1 p {
  margin-left: 70px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_bottom{
  margin-top: 90px;
  width: 1320px;
  border-top: 0.8px solid #d0d0da;
  padding-top: 20px;
display:flex;
flex-direction: row;
justify-content: space-between;
color: rgb(4, 30, 66);
font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}
.footer_bottom select{
  width: 200px;
  height: 40px;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
}
.ads {
  width: 1320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  /* background-color: aqua; */
}
.ads_top {
  width: 1320px;
  height: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adsTopLeft {
  width: 870px;
  height: 510px;
  position: relative;
  display: flex;
  flex-direction: row;

  background: rgb(0, 83, 246);
}
.adsTopLeft .tvComp {
position: absolute;
margin: 68px 18px 33px 334px;
z-index: 2;
}
.adsTopLeft .immersive {
width: 350px;
height: 120px;
position: absolute;
margin: 141px 430px 215px 15px;
}
.adsTopLeftP {
  /* Discover our new items. Up to 25% Off ! */
position: absolute;
width: 262.11px;
height: 56px;
margin: 280px 60px 125px 10px;
color: white
}
.shopNow {
  width: 140px;
  height: 52px;
  position: absolute;
  margin: 350px 300px 80px 10px;;
}
.adsTopRight {
  width: 422px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.adsTopRight1, .adsTopRight2 {
  width: 422px;
  height: 245px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: rgb(242, 242, 242);
}
.adsTopRight2 {
  width: 422px;
  height: 245px;
  background: rgb(242, 242, 242);
}
/* .categoryFrame {
width: 100%;
height: 700px;
display: flex;
flex-direction: row;
justify-content: center;
background: aqua; */


.categoryContainer, .topSellingFrame{
  
  width: 1320px;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

}


.categoryTop, .sellingTop, .headphoneTop {
  width: 1320px;
  height: 40px;
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.categoryTop, .sellingTop span {
  width: 1320px;
height: 40px;
left: 260px;
right: 760.19px;
top: 906px;
bottom: -906px;
  color: rgb(4, 30, 66);
font-family: Jost;
font-size: 28px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;

}  
.categoryTop a {
  color: rgb(4, 30, 66);
font-family: Jost;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}
.categoryTop a:hover{
  border-bottom: 2px solid rgb(4, 30, 66);
}
.categoryBottom {
  width: 1320px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 

}
.categoryBottom1 {
  width: 142px;
  height: 250px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;

 
}
.categoryImgBox1 {
  width: 142px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.categoryImgBox {
  width: 142px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.categoryBottom1 img {
  width: 95px;
  height: 100px;
}
.categoryBottom2 img {
  width: 100px;
  height: 65px;
}
.categoryABox {
  width: 135px;
  height: 84px;
  text-align: center;
}
.categoryABox a {
width: 135.9px;
height: 84px;
left: 263.8px;
right: -263.8px;
top: 1141px;
bottom: -1141px;
color: rgb(4, 30, 66);
font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}
.categoryImgBox2 img{
  width: 95px;
  height: 100px;
}
.productButtom {
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productBoxes {
  width: 1320px;
  height: 452px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nextButton{
  width: 15px;
}
.nextButton img{
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.productBox{
  width: 306px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productImgBox{
  width: 100%;
height: 280px;
}
.productImgBox .hoverBox{
  width: 100%;
height: 100%;
display: none;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}
.hoverBox button{
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background: navy;
  border-radius: 6px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;

  
}
.productImgBox:hover .hoverBox{
  display: flex;

}
.productBox .productInfo {
  width: 100%;
  height: auto;
  padding: 5px 22px;

}

.productInfo .productTitle{
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.productInfo .prductDesc{
  color: rgb(6, 11, 19);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.productInfo .reviewBox{
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.reviewBox img{
 margin-right: 5px;

}
.reviewBox span{
  margin-right: 5px;
  color: rgb(98, 105, 116);
font-family: Jost;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.productInfo .priceBox{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.priceBox strong{
  /* $32.50 (List-Style-3) */
position: static;
width: 60px;
height: 26px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 0px;

color: rgb(4, 30, 66);
font-family: Jost;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.priceBox span{
/* $45 (List-Style-3) */
position: static;
width: 25px;
height: 22px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
  color: rgb(98, 105, 116);
font-family: Jost;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: line-through;
}
.paginationFrame {
 margin-top:10px;
  width: 1320px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.paginationFrame .paginationBox{
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.paginationBox img{
  cursor: pointer;
}
.paginationBox .dot{
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background: rgb(17, 33, 55);
  border-radius: 50%;
}
.paginationBox .dot .dotActive{
  width: 20px;
  height: 20px;
  
  outline: 2px solid rgb(4, 30, 66);
  border-radius: 50%;

}
.adsFrame {
  margin-top:30px;
  width: 1930px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(175, 192, 228);
}
.adsFrame span{
  color: rgb(0, 83, 246);
font-family: Jost;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.headphoneFrame{
  width: 1320px;
  height: 488px;
}
.headphoneTop span{
  color: var(--Color-Text-Dark, #041E42);

/* 28 / Medium */
font-family: Jost;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.headphoneTop a {
  color: var(--Color-Text-Dark, #041E42);
text-align: center;

font-family: Jost;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 22px; 
}
.headphoneTop a:hover{
  border-bottom: 2px solid rgb(4, 30, 66);
}
.headphoneFrame .headphoneBottom{

  width: 1320px;
  height: 468px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headphoneBottom .headphoneBigBox {
padding:30px;
  width: 664px;
  height: 468px;
  position: relative;
  display: flex;
  flex-direction: row;
box-sizing: border-box;
background: rgb(229, 229, 229);

}
.headphoneBigBox .content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.headphoneBigBox .content span{
  color: var(--Color-Text-Dark, #041E42);
font-family: Jost;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22px; 
}
.headphoneBigBox .content strong{
width: 161.812px;  
color: var(--Color-Text-Dark, #041E42);
font-family: Jost;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.headphoneBigBox .content a{
display: inline-flex;
height: 27px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 3px;
flex-shrink: 0;
box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
}
.headphoneBigBox .content a:hover: {
border-bottom: 2px solid rgb(4, 30, 66);
}
.headphoneBottom .headphoneBigBox img{
  position: absolute;
  width: 322px;
  height: 309px;
  top: 50px;
  right: 34px;
}
.headphoneBottom .headphoneBoxWrapper {
  width: 45%;
  height: 468px;

  margin-top:10px;
  box-sizing:border-box;
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  flex-wrap: wrap;
  
}
.headphoneBoxWrapper .headphoneBox {
  width: 280px;
  height: 220px;
  padding: 20px;
position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(229, 229, 229);
}
.headphoneBoxWrapper .headphoneBox .content{
  display: flex;
  flex-direction: column;
 
}
.headphoneBoxWrapper .headphoneBox strong{
  color: var(--Color-Text-Dark, #041E42);

/* 16/Medium */
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}
.headphoneBoxWrapper .headphoneBox span{
color: var(--Color-Text-Light, #626974);

/* 13 / Regular */
font-family: Jost;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 169.231% */
}
.headphoneBoxWrapper .headphoneBox .bluetooth{
  width: 180px;
  height: 67px;
  position: absolute;
  top: 50%;
  right: 10%;
}
.tvFrame {
  width: 1320px;
  height: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tvFrame .tvTop{
  width: 1320px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tvTop strong{
  color: var(--Color-Text-Dark, #041E42);

/* 28 / Medium */
font-family: Jost;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.tvTop .tvTopRight{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--Color-Text-Dark, #041E42);
text-align: right;

/* 16/Medium */
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}
.tvTopRight a{
margin-left:17px;

  color: var(--Color-Text-Dark, #041E42);
}
.tvTopRight a:hover{
  border-bottom: 2px solid rgb(4, 30, 66);
}
.tvFrame .tvButtom{
  width: 1320px;
  height: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.tvButtom .tvBox{
  width: 260px;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.tvBox .tvBoxContent{
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content:space-between; 
  box-sizing: border-box;
  flex-wrap: wrap;
}
.tvBoxContent span{
 
  color: var(--Color-Text-Light, #626974);
font-family: Jost;
font-size: 13px;

font-style: normal;
font-weight: 400;
line-height: 20px; /* 169.231% */
text-transform: uppercase;

}
.tvBoxContent strong{
overflow: hidden;
color: var(--Color-Text-Dark, #041E42);
text-overflow: ellipsis;
white-space: nowrap;

/* 16/Medium */
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 175% */
}
.tvBoxContent .reviewBox{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tvBoxContent .reviewBox p{
  color: var(--Color-Text-Light, #626974);

  /* 14 / Regular */
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}


.tvBoxContent .priceBox{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eventFrame{
  width: 1930px;
  height: 631px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('../images/icons/event_bg.png');
  background-size: cover; 
  background-position: center;
  border-radius: 10px;
}
.eventFrame .eventContainer {
  width: 1300px;
  height: 392px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eventContainer .timeBox{
  width: 334px;
  height: 214px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.eventContainer .timeBox span{
 
color: white;
 font-size: 28px;
 font-family: Jost;
 font-weight: 500;
 word-wrap: break-word;
  font-family: Jost;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;

}
.timeBox .countdown{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
 .timeBox .countdown .countdownBox p{

color: white;
 font-size: 16px;
 font-family: Jost;
 font-weight: 500;
 line-height: 28px;
 word-wrap: break-word
 }
.timeBox button{
width: 141px;
height: 52px;
color: #041E42;
 font-size: 15px;
 font-family: Jost;
 font-weight: 500;
 line-height: 22px;
 word-wrap: break-word;
 /* Bg / White */
border: 1px solid rgb(255, 255, 255);
border-radius: 6px;
background: rgb(245, 195, 75);
cursor: pointer;

}
.eventFrame .eventBox{
  width: 100%;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

}
.eventFrame .eventBox img{
  filter:invert(rgb(245, 238, 238));
  cursor:pointer
}
  .eventFrame .eventBox .box{
    padding: 0 10px;  
    width: 205px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
    background: white; 
}
 .eventFrame .eventBox .box img{
  width: 168px;
height: 190px;
}
.eventBox .box .content{
  display: flex;
  flex-direction: column;
}
.eventFrame .eventBox .box span{
  color: var(--Color-Text-Light, #626974);
font-family: Jost;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 169.231% */
text-transform: uppercase;
}
.eventBox .content strong{
color: rgb(4, 30, 66);
font-family: Jost;
font-size: 15px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
text-wrap: wrap;
}
.eventBox .content .review img{
  width: 8.848px;
height: 10px;
flex-shrink: 0;
}
.eventBox .content .review span{
  color: var(--Color-Text-Light, #626974);

font-family: Jost;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}
.eventBox .content .price{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eventBox .content .price strong{
  color: var(--Color-Text-Dark, #041E42);

/* 16/Medium */
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.eventBox .content .price span{
padding-left: 10px;
color: var(--Color-Text-Light, #626974);
font-family: Jost;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
text-decoration-line: line-through;
}